<head>
<link rel ='stylesheet' href='/index.css'>
  <title>MAKERS BNB</title>
</head>
<body>
<div>
<img src='/img/bnb.png' class='logo'>
 </div>
<h1>Sign Up Form</h1>
<form method="post" action="/signup" class='sign-in'>
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="name" placeholder="Enter Your Name">
  <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Submit">
</form>

<form method="get" action="/sessions/new">
  <input type="submit" value="Login" class="Login">
</form>
</body>
