MAKERS BNB
<form method="post" action="/signup">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="name" placeholder="Enter Your Name">
  <input type="password" name="password" placeholder="Password">
  
  <input type="submit" value="Submit">
</form>

<a href='/sessions/new'>Login</a>