<html>
  <head>
    <link rel="icon" type="image/png" href="/img/makersbnb.png"/>
    <title>MakersBNB</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel ="stylesheet" href="/styles.css">
  </head>
  <body>
    <%= yield %>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>