<head>
<link rel ='stylesheet' href='/index.css'>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MakersBnB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/spaces">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/spaces/new">Add Space</a>
      <a class="nav-link" href="<%= "/spaces/" + session[:user] %>">View My Spaces</a>
    </div>
  </div>
</nav>

<h1>Create your new space:</h1> <br>

<form action="/spaces/new/add" method="post" class='sign-in'>

  <input type="text" name='name' placeholder="Name" />
  <input type="text" name='price' placeholder="Price" />
  <input type="text" name='description' placeholder="Description" />

  <input type="submit" value="Create space" />
</form>