<h1>Create your new space:</h1> <br>

<form action="/spaces/new/add" method="post">

  <input type="text" name='name' placeholder="Name" />
  <input type="text" name='price' placeholder="Price" />
  <input type="text" name='description' placeholder="Description" />

  <input type="submit" value="Create space" />
</form>