<h1> Selected space </h1>

<%= @viewed_space.name %>
<%= @viewed_space.price %>
<%= @viewed_space.description %>

<select name="date-menu" id="date-menu" >
  <option value="01-01-2020">01-01-2020</option>
  <option value="02-01-2020">02-01-2020</option>
  <option value="03-01-2020">03-01-2020</option>
  <option value="04-01-2020">04-01-2020</option>
</select>