<h1>List of all spaces!</h1>

<ul>
  <% @spaces.each do |space| %>
    <%= space.name %> <br>
    <%= space.price %> <br>
    <%= space.description %><br>
    <br>

  <% end %>
</ul>

<form action="/spaces/new" method="get">
  <input type="submit" value="Add Space" />
</form>