<h1>List of your spaces!</h1>

<ul>
  <% @user_spaces.each do |space| %>
    <%= space.name %> <br>
    <%= space.price %> <br>
    <%= space.description %><br>
    <br>

  <% end %>
</ul>

<form action="/spaces" method="get">
  <input type="submit" value="Back to Homepage" />
</form>

<select name="date-menu" id="date-menu" >
  <option value="01-01-2020">01-01-2020</option>
  <option value="02-01-2020">02-01-2020</option>
  <option value="03-01-2020">03-01-2020</option>
  <option value="04-01-2020">04-01-2020</option>
</select>