h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

ul {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

body {
  background-color:black;
}

.logo {
  display: block;
  width: 330px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.signout {
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-family: sans-serif;
}